@model IEnumerable<WA_Pharmacy.DTOs.Insurance.InsuranceListDto>

@{
    ViewData["Title"] = "لیست شرکت‌های بیمه";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-building ml-1"></i> لیست بیمه‌های طرف قرارداد
                </h3>
                <div class="card-tools">
                    <a asp-action="Create" class="btn btn-success btn-sm">
                        <i class="fa fa-plus ml-1"></i> ثبت بیمه جدید
                    </a>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                            <th style="width: 150px;">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="جزئیات">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" title="ویرایش">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="حذف">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>